<div class="row">
    <div class="col-3">
        <button class="btn btn-success" (click)="openByDocument()"> Open Model By Document</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="openByViewChild()"> Open Model By ViewChild</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal3"> Open Model By Bootstrap js</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="openBySignal()"> Open Model By Signal</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="openByClassName()"> Open Model By Class Name</button>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="btn-close" (click)="closeModelByDocuement()" ></button>
            </div>
            <div class="modal-body">
                Modal body..
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closeModelByDocuement()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" #model2>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal 2</h4>
                <button type="button" class="btn-close" (click)="closeByViewChaild()" ></button>
            </div>
            <div class="modal-body">
                Modal body..
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closeByViewChaild()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="btn-close"  data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Modal body..
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" >Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" [style]="{'display':isModel4Open() ?'block':'none'}" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal 4</h4>
                <button type="button" class="btn-close" (click)="closeBySignal()" ></button>
            </div>
            <div class="modal-body">
                Modal body..
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closeBySignal()">Close</button>
            </div>
        </div>
    </div>
</div>

<div   [className]="isModelOpen ? 'modal showModel' : 'modal hideModel' " >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal 4</h4>
                <button type="button" class="btn-close" (click)="openByClassName()" ></button>
            </div>
            <div class="modal-body">
                Modal body..
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="openByClassName()">Close</button>
            </div>
        </div>
    </div>
</div>